@charset "UTF-8";

/* 回答はここに書いてね */
.wallpaper {
	background-color: #eff3f4;
	box-sizing: border-box;
	margin: auto;
	padding: 20px;
	width: 940px;
}

.baloon_img {
	float: left;
	margin: 0 20px 10px 0;
}

.baloon_text {
	font-size: 18px;
	line-height: 22px;
	word-break: break-all;
}

.kamon_text {
	font-size: 18px;
	line-height: 22px;
	word-break: break-all;
}

.kamon_img {
	float: right;
	margin: 0 0 10px 20px;
}

/* 回答はここに書いてね */
