@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
 	display: block;
 	content: "";
 	clear: both;
}

.float_text {
	box-sizing: border-box;
	float: left;
	font-size: 16px;
	margin-left: 50px;
	width: 225px;
}

.float_text:first-child {
	margin-left: 0px;
}

.table_inner {
	display: table;
	margin: 0 auto;
}


.table_box {
	display: table-cell;
	padding-left: 50px;
	vertical-align: middle;
}

.table_box:first-child {
	padding-left: 0;
}

.table_text {
	box-sizing: border-box;
	text-align: center;
	width: 225px;
	font-size: 16px;
}


.inline_block_inner {
	text-align: center;
	font-size: 0;
	height: 100%;
}

.inline_block_box {
	display: inline-block;
	box-sizing: border-box;
	width: 225px;
	vertical-align: middle;
	margin-left: 50px;
	font-size: 16px;
}

.inline_block_box:first-child {
	margin-left: 0;
}


.flex_inner {
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
}

.flex_box {
	box-sizing: border-box;
	width: 225px;
}
/* margin 0 autoを削除・justfy-contentで中央寄せ*/

.ngmargin_left_box {
	display: inline-block;
	width: 300px;
	float: left;
}

.ngmargin_right_box {
	display: inline-block;
	margin-left: -300px;
	width: 100%;
}

.ngmargin_right_text {
	margin-left: 350px;
}

/* 回答はここに書いてね */
/* クラス名を内容に準じたものに変更・不要なクラスを削除 */
/* .q2_innerの閉じタグ忘れを修正*/